parameters:

    #
    # Resolvers
    #
    mmoreram.controllerextra.resolvers.log_annotation_resolver.class: Mmoreram\ControllerExtraBundle\Resolver\LogAnnotationResolver

services:

    #
    # Resolvers
    #
    mmoreram.controllerextra.resolvers.log_annotation_resolver:
        class: %mmoreram.controllerextra.resolvers.log_annotation_resolver.class%
        arguments:
            logger: @logger
        calls:
            - [setDefaultLevel, [%mmoreram.controllerextra.log_default_level%]]
            - [setDefaultExecute, [%mmoreram.controllerextra.log_default_execute%]]
        tags:
            - { name: controller_extra.annotation }
