language: php

sudo: false

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    include:
        - php: 5.4
          env: COMPOSER_OPTIONS="--prefer-lowest"
        - php: 5.4
          env: $SYMFONY_VERSION="^2.8.0"
        - php: 5.5.9
          env: $SYMFONY_VERSION="^3.0.0"

before_install:
    - 'if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony:${SYMFONY_VERSION}; fi;'

install:
    - composer update --prefer-source --no-interaction ${COMPOSER_OPTIONS}

script:
    - phpunit

notifications:
    email: false
